git+https://github.com/lbryio/lbryschema.git@master#egg=lbryschema
git+https://github.com/lbryio/electrumx.git@packages#egg=electrumx
git+https://github.com/lbryio/torba.git@master#egg=torba
git+https://github.com/lbryio/orchstr8.git@master#egg=orchstr8
msgpack==0.5.6
